In [20]:
paragraph='I liek to play football. hi gaurav! did you play outside? john and i play tennis'

In [2]:
import nltk

In [4]:
import pandas as pd

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
#inilize counter verctorizer

In [9]:
cv = CountVectorizer()

In [10]:
from nltk import tokenize

In [13]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Hp\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [21]:
sentences = nltk.sent_tokenize(paragraph)

In [22]:
sentences

['I liek to play football.',
 'hi gaurav!',
 'did you play outside?',
 'john and i play tennis']

In [23]:
#let's remove stop words

In [24]:
from nltk.corpus import stopwords

In [25]:
# Download NLTK stopwords data (if not already downloaded)
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Hp\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [27]:
words = nltk.word_tokenize(paragraph)

In [29]:
words

['I',
 'liek',
 'to',
 'play',
 'football',
 '.',
 'hi',
 'gaurav',
 '!',
 'did',
 'you',
 'play',
 'outside',
 '?',
 'john',
 'and',
 'i',
 'play',
 'tennis']

In [43]:
X=cv.fit(sentences)

In [33]:
X.

CountVectorizer()

In [44]:
col=X.get_feature_names()

In [49]:
col

['and',
 'did',
 'football',
 'gaurav',
 'hi',
 'john',
 'liek',
 'outside',
 'play',
 'tennis',
 'to',
 'you']

In [39]:
X=cv.transform(sentences)

In [41]:
row=X.toarray()

In [48]:
row

array([[0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0],
       [0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1],
       [1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0]], dtype=int64)

In [46]:
df=pd.DataFrame(row,columns=col)

In [47]:
df

   and  did  football  gaurav  hi  john  liek  outside  play  tennis  to  you
0    0    0         1       0   0     0     1        0     1       0   1    0
1    0    0         0       1   1     0     0        0     0       0   0    0
2    0    1         0       0   0     0     0        1     1       0   0    1
3    1    0         0       0   0     1     0        0     1       1   0    0